
    <br>
    <br>
<html>
    <form  *ngIf="employeeForm" [formGroup]="employeeForm" (ngSubmit)="submit()">
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form4Example1" formControlName="Name" class="form-control" />
          <label class="form-label" >First name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" formControlName="LastName" class="form-control" />
          <label class="form-label" >Last name</label>
        </div>
      </div>
    </div>
    <div class="form-outline mb-4">
      <input type="date" formControlName="Birthdate" class="form-control" />
      <label class="form-label"  >Birthdate</label>
    </div>
    <div class="form-outline mb-4">
        <div>
            <mat-form-field appearance="fill" class="form-control" >
                <mat-label>Skills</mat-label>
                <mat-select [formControl]="skills" multiple>
                  <mat-option *ngFor="let skills of skillGroup" [value]="skills">{{skills.SkillName}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
     
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
  </form>
  </html>