
<html>
<head>
<meta charset="utf-8">
<title>Employee Registraion Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>
<div ng-app = "myApp" class = "container" style="width:550px">
<div style="text-align:center;">
<h3><b>Employee Registration Form</b></h3>
</div>

<div >
</div>
<form class="form-group" *ngIf="employeeForm" [formGroup]="employeeForm" (ngSubmit)="submit()">
<div class = "form-group">
<label for = "name"> Name:  </label>
<input type = "text"  class = "form-control"  placeholder = "Enter Name " formControlName="Name">
</div>
<div class = "form-group">
<label for = "lastname"> Last Name:  </label>
<input type = "text"  class = "form-control"  placeholder = "Enter Last name " formControlName="LastName">
</div>
<div class = "form-group">
<label for = "birthdate"> Birthdate:  </label>
<input type = "date"  class = "form-control"   formControlName="Birthdate">
</div>
<br>
<input type="hidden" formControlName="EmpID">
<button type="submit" >Add Employee</button>
</form>
</div>
</body>
</html>
