<div>
    <table>
        <thead>
            <tr>
                   <th>Employee ID</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Birthdate</th>
            </tr>
        </thead>
        <tbody>
           <tr *ngFor="let employee of employeeLists"> 
               <td>{{employee.EmpID}}</td>
               <td>{{employee.Name}}</td>
               <td>{{employee.LastName}}</td>
               <td>{{employee.Birthdate}}</td>
               </tr>
               </tbody>
    </table>
   </div>